<div id="slide-out" class="sidenav sidenav-fixed indigo darken-3">
  <a class="white-text center-align" href="/feed"><h1>PICTOR</h1></a>
  <ul>
    <li><a class="waves-effect waves-light btn indigo darken-2" href="#"><i class="small material-icons text-white left">library_books</i>Feed</a></li>
    <li><a class="waves-effect waves-light btn indigo darken-2" href="/user/5432"><i class="small material-icons text-white left">insert_emoticon</i>Test User</a></li>
    <li><a class="waves-effect waves-light btn indigo darken-2" href="#"><i class="small material-icons text-white left">account_circle</i>Profile</a></li>
    <li><a class="waves-effect waves-light btn indigo darken-2" href="#"><i class="small material-icons text-white left">settings</i>Settings</a></li>
  </ul>
</div>
<a href="#" data-target="slide-out" class="btn-floating waves-effect waves-light indigo darken-2 sidenav-trigger margin5"><i class="material-icons">menu</i></a>
