<div class="nav-wrapper">
  <a class="brand-logo white-text" href="/"><h1>Pictor</h1></a>
  <ul>
    <li><a class="waves-effect waves-light btn" href="#">Feed</a></li>
    <li><a class="waves-effect waves-light btn" href="/user/5432">Test User</a></li>
    <li><a class="waves-effect waves-light btn" href="#">Profile</a></li>
    <li><a class="waves-effect waves-light btn" href="#">Settings</a></li>
  </ul>
</div>
