<div class="nav-wrapper">
  <a class="brand-logo white-text center-align" href="/"><h1>PICTOR</h1></a>
  <ul class="row">
    <li class="col s3 m12"><a class="waves-effect waves-light btn" href="#"><i class="small material-icons text-white left">library_books</i>Feed</a></li>
    <li class="col s3 m12"><a class="waves-effect waves-light btn" href="/user/5432"><i class="small material-icons text-white left">insert_emoticon</i>Test User</a></li>
    <li class="col s3 m12"><a class="waves-effect waves-light btn" href="#"><i class="small material-icons text-white left">account_circle</i>Profile</a></li>
    <li class="col s3 m12"><a class="waves-effect waves-light btn" href="#"><i class="small material-icons text-white left">settings</i>Settings</a></li>
  </ul>
</div>
