<header class="z-depth-2" id="navbar">
  <div class="navbar-fixed">
    <nav class="indigo darken-3">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">lock_outline</i>PICTOR</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="indigo darken-4 waves-effect waves-light btn modal-trigger" href="#signup">Sign up</a></li>
          <li><a class="indigo lighten-3 black-text waves-effect waves-light btn modal-trigger" href="#login">Log In</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a class="sidenav-close modal-trigger" href="#signup">Sign Up</a></li>
    <li><a class="sidenav-close modal-trigger" href="#login">Log In</a></li>
  </ul>
</header>

<main class="full-height">
  <div class="home-bg-image half-height center-align valign-wrapper" id="bg-im">
    <h1 class="center-align home-center-block white-text">Peace of mind</h1>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Your data stays yours</h2>
      <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Here's another section</h2>
      <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</main>

<footer class="page-footer indigo darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pictor Encryption</h5>
        <p class="grey-text text-lighten-4">This is a capstone project for the Oregon State University Post-Bacc Computer Science Program</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="modal-trigger" href="#signup" id="close">Sign Up</a></li>
          <li><a class="modal-trigger" href="#login" id="close">Log In</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright
    </div>
  </div>
</footer>



<!-- Log In Modal -->
<div id="login" class="modal">
  <div class="modal-content">
    <h2 class="right-align">
      <a class="modal-close btn-large btn-floating btn-flat indigo lighten-2 white-text" href="#!" id="close">&times;</a>
    </h2>
    <h3 class="header center indigo-text text-lighten-2">Account Login</h3>
    <form class="modal-content animate">
      <div class="container">
        <br>
        <label for="email"><b>Email</b></label>
        <input class="grey lighten-1" type="text" name="email" id="email_login" required>
        <button class="btn btn-login indigo lighten-2" id="loginbutton" name="login" type="button">Welcome Back</button>
        <a class="modal-close modal-trigger" href="#signup" id="close">Don't have an account? Sign Up</a>
      </div>
    </form>
  </div>
</div>

<!-- Sign Up Modal -->
<div id="signup" class="modal">
  <div class="modal-content indigo darken-2">
    <div class="modal-content">
      <h2 class="right-align">
        <a class="modal-close btn-large btn-floating btn-flat grey lighten-3 indigo-text lighten-2" href="#!" id="close">&times;</a>
      </h2>
      <h3 class="header center white-text text-lighten-2">Sign Up</h3>
      <form class="modal-content animate">
        <div class="container">
          <label for="fname"><b>First Name</b></label>
          <input class="indigo darken-3 white-text" type="text" name="first_name" id="first_name" required>
          <br>
          <label for="lname"><b>Last Name</b></label>
          <input class="indigo darken-3 white-text" type="text" name="last_name" id="last_name" required>
          <br>
          <label for="email"><b>Email</b></label>
          <input class="indigo darken-3 white-text" type="text" name="email" id="email_register" required>
          <button class="btn btn-login grey lighten-3 indigo-text lighten-2" id="registerbutton" name="register" type="button">So It Begins</button>
          <a class="modal-close modal-trigger" href="#login" id="close">Got an account? Log In</a>
        </div>
      </form>
    </div>
  </div>


  <!-- Page element functions -->
  <script src="/js/home_page.js"></script>
  <script src="/js/encryption.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/signin.js"></script>
  <script src="/js/register.js"></script>
