

<h1>Let's Test Encryption! :D</h1>
<section class="key">
    <button id="generateKeyPair">Generate Alice's Key Pair</button>
    <label for="privateKey">Private Key:</label>
    <textarea rows="10" columns="60" id="privatekey"></textarea>
    <label for="publicKey">Public Key:</label>
    <textarea rows="10" columns="60" id="publickey"></textarea>
</section>
<br>

<section class="key">
    <button id="genStoreServerKey">Generate and Store the Server Key Pair</button>
</section>

<section class="key">
    <button id="retrieveServerKey">Get Server's Public Key</button>
    <label for="sPublicKey">Server's Public Key:</label>
    <textarea rows="10" columns="60" id="sPublicKey"></textarea>
</section>
<br>

<section class="key">
    <button id="generateCipherKey">Generate Alice's Cipher Key</button>
    <label for="cipherKey">Cipher Key:</label>
    <textarea rows="10" columns="60" id="cipherKey"></textarea>
</section>
<br>
