{{> _preloader}}
<main class="full-height">
   <div class="row">
     <div class="col s12 m4 offset-m4">
       <div class="card">
         <div class="card-image indigo darken-3 center-align">
           <div class="pad5">
             <a href="/" class="white-text"><i class="material-icons">lock_outline</i><br>PICTOR</a>
           </div>

         </div>
         <form id="register_form">
           <div class="card-content">
             <span class="card-title">Register</span>
             <div class="input-field">
               <input class="validate" type="text" name="first_name" id="first_name" autocomplete="given-name" required>
               <label for="first_name">First Name</label>
             </div>
             <div class="input-field">
               <input class="validate" type="text" name="last_name" id="last_name" autocomplete="family-name" required>
               <label for="last_name">Last Name</label>
             </div>
             <div class="input-field">
               <input class="validate" type="email" name="email" id="email" autocomplete="email" required>
               <label for="email">Email</label>
             </div>
             <div class="input-field">
               <input class="validate" type="text" name="location" id="location" autocomplete="country" required>
               <label for="location">Location</label>
             </div>
           </div>
           <div class="card-action">
             <button id="registerbutton" name="register" type="submit" class="waves-effect waves-light btn indigo darken-3">Register</button>
           </div>
         </form>
       </div>
     </div>
  </div>
</main>

<footer class="page-footer indigo darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pictor Encryption</h5>
        <p class="grey-text text-lighten-4">This is a capstone project for the Oregon State University Post-Bacc Computer Science Program</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/register">Register</a></li>
          <li><a class="grey-text text-lighten-3" href="/signin">Sign In</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright
    </div>
  </div>
</footer>

<script src="/js/encryption.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/register.js"></script>
