<header class="z-depth-2">
  <nav class="indigo darken-3">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">lock_outline</i>PICTOR</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/register">Register</a></li>
        <li><a href="/signin">Sign In</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/register">Register</a></li>
    <li><a href="/signin">Sign-In</a></li>
  </ul>
</header>

<main class="full-height">
  <div class="section white">
   <div class="row container">
    <h2 class="header">Sign in</h2>
    <div class="form container">
      <form id="login_form">
        <input type="text" name="email" id="email" placeholder="Email">
        <button id="loginbutton" name="login" type="button">Sign in</button>
      </form>
    </div>
  </div>
</main>

<footer class="page-footer indigo darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pictor Encryption</h5>
        <p class="grey-text text-lighten-4">This is a capstone project for the Oregon State University Post-Bacc Computer Science Program</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/register">Register</a></li>
          <li><a class="grey-text text-lighten-3" href="/signin">Sign In</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright
    </div>
  </div>
</footer>

<script src="/js/encryption.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/signin.js"></script>
