/* USED FOR OVERRIDES */

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

#preloader {
  margin: 0 auto;
}

#pictor-app pre {
  display: block;
  width: 100%;
}

.margin5 {
  margin: .5em;
}

.sidenav-trigger {
  position: fixed;
}

.center-block {
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

nav {
  padding: 0 1em;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: 0;
 width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 60px;
}
