/* USED FOR OVERRIDES */

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  section.section {
    padding-top: 3em;
  }
}

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

#pictor-app pre {
  display: block;
  width: 100%;
}

.margin5 {
  margin: 0.5em;
}

.pad5 {
  padding: 0.5em;
}
.pad1 {
  padding: 1em;
}

.sidenav-trigger {
  position: fixed;
}

.center-block {
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.collapsible-body {
  padding: 0;
}

nav {
  padding: 0 1em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.2em 0;
}

h2.header {
  text-transform: capitalize;
}
