/* USED FOR OVERRIDES */

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

.home-bg-image {
  background-image: url('/images/arthur-poulin-96074-unsplash.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-center-block {
  margin: 0 auto;
}

.sidenav-trigger {
  position: fixed;
}

nav {
  padding: 0 1em;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: 0;
 width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 60px;
}
