/* USED FOR OVERRIDES */

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

.home-bg-image {
  background-image: url('/images/arthur-poulin-96074-unsplash.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-center-block {
  margin: 0 auto;
}

.sidenav-trigger {
  position: fixed;
}

nav {
  padding: 0 1em;
}


.pad5 {
  padding: .5em;
}

.pad1 {
  padding: 1em;
}

textarea:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

input {
  border-radius: 10px;
}

.modal-footer {
  text-align: center;
}

.modal-close {
  font-size: 150%;
}

.modal-close.modal-trigger{
  font-size: 100%;
}

.bottom-modal-text {
  padding-top:2em;
}

#signup,
#register {
  width: 95% !important;
  max-width: 400px;
}
