/* USED FOR OVERRIDES */


#pictor-app header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 275px;
}

#pictor-app .main-page {
    margin-left: 275px;
    padding: 0 1em;
}

#pictor-app .full-height {
  height: 100vh;
  overflow: scroll;
}

#pictor-app #preloader {
  margin: 0 auto;
}


#pictor-app .nav-wrapper ul li {
  width: 100%;
  margin-bottom: 0.5em;
}

#pictor-app .nav-wrapper ul li:last-child {
  margin-bottom: 0;
}

#pictor-app .nav-wrapper ul li a {
  width: 100%;
}

#pictor-app pre {
  display: block;
  width: 100%;
}
