<section class="section pad1">
  <h1 class="center-align">Feed</h1>
  <div class="row" id="feed_start">
    <h4 class="center-align blue-grey-text text-lighten-4">No Posts available :(</h4>
  </div>
</section>
