<section class="section">
  <div class="row">
    <h1 class="center-align">Feed</h1>
    <ul class="collection" id="feed_start">
    </ul>
    <!-- <a href="/post/1234">Post #...</a> -->
  </div>
</section>
