<section class="section">
  <div class="row">
    <h1 class="center-align">New Post!</h1>
    <div class="col s12 card-panel">
      <form id="new_post">
       <div class="input-field white-text">
         <input class="validate white-text" type="text" name="first_name" id="first_name" autocomplete="given-name" required>
         <label for="first_name" class="white-text">Title</label>
       </div>
       <div class="input-field">
         <input class="validate white-text" type="text" name="last_name" id="last_name" autocomplete="family-name" required>
         <label for="last_name" class="white-text">Last Name</label>
       </div>
       <div class="input-field">
         <input class="validate white-text" type="email" name="email" id="email" autocomplete="email" required>
         <label for="email" class="white-text">Email</label>
       </div>
       <div class="input-field">
         <input class="validate white-text" type="text" name="location" id="location" autocomplete="country" required>
         <label for="location" class="white-text">Location</label>
       </div>
       <button id="create" name="create" type="submit" class="waves-effect waves-light btn white indigo-text">Create</button>
      </form>
    </div>
  </div>
</section>
