<section class="section blue-grey lighten-5 full-height">
  <div class="container">
    <h1>Oops! You're trying to look for something that doesn't exist!</h1>
    <a href="/feed" class="btn">Feed</a>
  </div>
</section>
