<section class="section blue-grey lighten-5 full-height pad1">
  <div class="container">
    <div class="row">
      <div class="col s12" id="post_section">
      </div>
    </div>
  </div>
</section>
