<section class="section blue-grey lighten-5 full-height">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div id="about">
          <form id="edit_about_form">
            <div class="card-content">
              <span class="card-title">Edit Information</span>
              <div class="input-field">
                <input class="validate" type="text" name="first_name" id="user-firstname">
                <label for="user-firstname">First Name</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="last_name" id="user-lastname">
                <label for="user-lastname">Last Name</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="city" id="user-city">
                <label for="user-city">City</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="state" id="user-state">
                <label for="user-state">City</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="phone" id="user-phone">
                <label for="user-phone">Phone</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="gender" id="user-gender">
                <label for="user-gender">Gender</label>
              </div>
              <div class="input-field">
                <input class="datepicker" type="text" name="birthdate" id="user-birthdate">
                <label for="user-birthdate">Birthdate</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="language" id="user-language">
                <label for="user-language">Language</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="school" id="user-school">
                <label for="user-school">School</label>
              </div>
              <div class="input-field">
                <input class="validate" type="text" name="work" id="user-work">
                <label for="user-work">Work</label>
              </div>
            </div>
            <div class="card-action">
              <button id="editaboutbutton" name="edit_about" type="submit" class="waves-effect waves-light btn indigo darken-3">Save</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</section>

<script src="/js/settings.js"></script>
