<section class="section pad5">

  <div class="row">
    <div class="col s12">
      <div class="row">
        <form id="search">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Find someone</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Received Requests</div>
          <div class="collapsible-body">
            <span>
            <ul class="collection" id="received_requests">
            </ul>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Sent Requests</div>
          <div class="collapsible-body">
            <span>
            <ul class="collection" id="sent_requests">
            </ul>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">terrain</i>Blocked Users</div>
          <div class="collapsible-body">
            <span>
            <ul class="collection" id="blocked_users">
            </ul>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <h1>Friends</h1>
    <div class="row" id="friends_list">
    </div>
  </div>
</section>


<script src="/js/search.js"></script>
