<section class="section">
  <div class="row" id="user-basic-info">
    <div class="col s12 m7">
      <h2 class="header" id="user-name">USER NAME</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://i.imgur.com/FyWI0.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content" id="user-basic-info">
            <p id="user-location">USER LOCATION</p>
            <p id="user-email">USER EMAIL</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="row" id="user-full-info">
  </div>
</section>
