<section class="section blue-grey lighten-5 full-height">
  <div class="container">
    <div class="white lighten-5 z-depth-1 pad5">
      <h2 class="header" id="user-name">USER NAME</h2>
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="/images/profile/blank.png" class="responsive-img" id="user-picture">
        </div>
        <div class="col s10">
          <div class="card-content" id="user-basic-info">
            <table>
              <tbody>
                <tr>
                  <td>Location</td>
                  <td id="user-location">USER LOCATION</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td id="user-email">USER EMAIL</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-tabs indigo">
        <ul class="tabs tabs-fixed-width tabs-transparent">
          <li class="tab white-text"><a class="white-text active" href="#user_about">About</a></li>
          <li class="tab white-text"><a class="white-text" href="#feed_start">Posts</a></li>
          <li class="tab white-text"><a class="white-text" href="#user_friends">Friends</a></li>
        </ul>
      </div>
      <div class="card-content">
        <div id="user_about">
          <table>
            <tbody>
              <tr>
                <td>Phone</td>
                <td id="user-phone"><i class="material-icons">lock_outline</i></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td id="user-gender"><i class="material-icons">lock_outline</i></td>
              </tr>
              <tr>
                <td>Birthdate</td>
                <td id="user-birthdate"><i class="material-icons">lock_outline</i></td>
              </tr>
              <tr>
                <td>Language</td>
                <td id="user-language"><i class="material-icons">lock_outline</i></td>
              </tr>
              <tr>
                <td>School</td>
                <td id="user-school"><i class="material-icons">lock_outline</i></td>
              </tr>
              <tr>
                <td>Work</td>
                <td id="user-work"><i class="material-icons">lock_outline</i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="feed_start">
        </div>
        <div id="user_friends">
          <ul class="collection" id="friends_list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/user.js"></script>
