<section class="section">
  <div class="row" id="user-basic-info">
    <div class="col s12 m7">
      <h2 class="header" id="user-name">USER NAME</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://i.imgur.com/FyWI0.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content" id="user-basic-info">
            <p id="user-location">USER LOCATION</p>
            <p id="user-email">USER EMAIL</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="row" id="user-full-info">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Additional Information</h4></li>
        <li class="collection-item" id="user-phone">USER PHONE</li>
        <li class="collection-item" id="user-gender">USER GENDER</li>
        <li class="collection-item" id="user-dob">USER DOB</li>
        <li class="collection-item" id="user-language">USER LANGUAGE</li>
        <li class="collection-item" id="user-school">USER SCHOOL</li>
        <li class="collection-item" id="user-work">USER WORKE</li>
      </ul>
  </div>
</section>
